@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


li{
    text-transform: uppercase;
    font-size: large;
}

ul li:hover{
    color: brown;
}

a:active{
    color: red;
}
p{
    font-family: monospace;
    /* font-family: poppins; */
    font-size: large;
}

body{
    overflow-x: hidden;
}